/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.g {
    width: 100vw;
    height: 100vh; 
    background: 
        linear-gradient(to right, white 10%, rgba(255, 0, 0, 0.4) 30%, transparent 50%, rgba(0, 0, 255, 0.4) 70%, white 90%), 
        radial-gradient(circle at center, purple 20%, rgb(73, 0, 73) 35%, purple 50%);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Encabezado */
header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
}


.menu-button {
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    background: linear-gradient(45deg, #4741ff, #2b2bff);
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(57, 43, 255, 0.7);
}

/* Contenedor de la Galería */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.g2 {
    width: 300px;
    height: 500px;
    margin: 50px;
    padding:2px 2px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    font-size: 20px;
}

.g2 img
{
    width: 300px;
    height: 500px;
}

.g3 {
    background: linear-gradient(45deg, #4741ff, #2b2bff);
}
.g4 {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
}
.g4:hover{
    box-shadow: 0 0 15px rgba(255, 75, 43, 0.7)
}

/* Imágenes dentro de la Galería */
.grid-item {
    max-width: 400px;
    width: 100%; 
    height: auto;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
}

/* Modal para abrir imágenes en grande */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
